@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}

.container{
  border: solid 1px #008000;
  width: 500px;
  min-height: 400px;
  padding: 20px;
  margin-inline: auto;
  border-radius: 10px;
}

.header{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.btn{
  padding: 10px;
  border: none;
  background-color: rgb(10, 83, 49);
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.task{
  background-color: antiquewhite;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
}

.task h3{
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.no-task{
  margin-left: 15px;
}

.reminder{
  border-left: solid  green;
}

.btn-block{
  width: 100%;
  font-size: large;
}

.form-group{
  padding: 10px;
}
label{
  margin: 5px;
}

.form-group input{
  border: solid #333 1px;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 15px;
  border-radius: 10px;
}

.form-group .check{
  display: inline;
}
.check input{
    width: auto;
}